{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Claudia created this page
      </h1>

      <p>Claudia created this page on the 15 March 2022 at 15:20
      </p>

      <p>This paragraph has a link to <a href="#">find out more about this subject</a>.</p>

    </div>
  </div>
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}


  
